
            [Unit]
            Description=another app managed by shiva 
            After=network.target

            [Service]
            Type=simple
            WorkingDirectory=/home/devpsiarch/programming/nigger
            ExecStart=gcc main.c -o main && ./main
            Restart=on-failure

            [Install]
            WantedBy=multi-user.target
            